<style type="text/css">
      .row{
      position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: rgba(191, 184, 184, 0.24);
  background-size: cover;
  transition: 1s opacity;
  padding: 150px;
      }
      #store{
            margin-top: 50px;
            width: 33%;
            text-align: center;
      }
</style>
<div style="text-align:center;margin-top: 5%"><h1>STORE</h1></div>
<div class="row">
  <div class="col-xs-6 col-md-3" id="store">
    <a href="#" class="thumbnail">
      <img src="/images/sample1.jpeg" alt="...">
    </a>
      <label>TITLE</label></br>
      <label>PRICE</label>
  </div>
  <div class="col-xs-6 col-md-3" id="store">
    <a href="#" class="thumbnail">
      <img src="/images/sample1.jpeg" alt="...">
    </a>
      <label>TITLE</label></br>
      <label>PRICE</label>
  </div>
  <div class="col-xs-6 col-md-3" id="store">
    <a href="#" class="thumbnail">
      <img src="/images/sample1.jpeg" alt="...">
    </a>
      <label>TITLE</label></br>
      <label>PRICE</label>
  </div>
</div>